* {
  color: rgb(237, 237, 237);
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(15, 15, 15);
  background-position: initial initial;
  background-repeat: initial initial;
}