@charset "UTF-8";
/* CSS Document */
* {
	max-width:240px;;
}

body{max-width:240px;background-color:#D9D9D9;}

#main{width:240px;}



#meaning {
	font:Arial, Helvetica, sans-serif;
	float:left;
}

a{
	color:#000;
}

#meaning span{font-weight: bold;line-height: 1.5em;clear:both;

font-family:Georgia, "Times New Roman", Times, serif;}

#meaning em{font-size:0.85em;}